.container{
  align-self:center;
  display:flex;
  width:70%;
  height:auto;
  background-color: var(--gris);
  padding:5vh;
  border-radius:26px;
  margin:5vh 0;
  text-align:left;
}

.texte{
  padding:5%;
}

.texte *{
  text-align:left;
  padding-bottom:1em;
}

.carte{
  max-width:80%;
  padding:5vh 0;
}

@media screen and (max-width:960px){
  container{
    height:auto;
  }
}