.container{
  align-self:center;
  width:80%;
  display:flex;
  justify-content: center;
  padding:5vh 0;
}

.description{
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
}

.description img{
  width: 60%;
  height:60%;
}

.description *{
  padding-bottom: 1em;
}

.infos{
  display:grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.logements{
  align-self:center;
  height:auto;
  margin: 5vh 0;
}