.container{
  align-self:center;
  width:80%;
  height:auto;
  display:flex;
  padding:10vh 5vh;
}

.description img{
  width: 80%;
  height:80%;
}

.description *{
  padding-bottom: 1em;
}