.list{
  height:72px;
  position:fixed;
  font-family:'Raleway';
  font-weight:bold;
  text-transform:uppercase;
  display:flex;
  text-align:center;
  list-style-type: none;
  color:inherit;
  list-style:none;
}

.menu, .button{
  display:flex;
  justify-content: center;
  align-items:center;
  flex:1;
  height:100%;
  color:inherit;
  text-decoration:none;
  padding:0 42px;
}

.menu{ 
  background-color:white;
  background-image:url(../../images/barres-menu.png);
  background-repeat:no-repeat;
  background-size:32px auto;
  background-position: center left 42px;
  padding-left:90px;
}

.button{
  background-color:var(--bleu);
  color:white;
}



@media screen and (max-width:960px){
  .navbar{
    height:auto;
  }
  .list{
    display:none;
  }
}