@font-face{
  font-family: "Editor";
  src: url("../../../static/fonts/Editor-Bold.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root{
  --bleu:rgb(49,39,130);
  --gris:#F5F9FB;
  --vert:#1e8263;
  --transi:0.5s all ease;
  --radius:26px;
}

*, *:before, *:after {
  margin:0;
  padding:0;
  box-sizing:border-box;
  box-sizing: inherit;
  text-align:center;
}

body{
  display:block;
  font-family:"Editor";
}

h1{
  text-align:center;
  font-size:5rem;
  line-height:1.33;
}

h2{
  font-size:2.5rem;
  text-transform: uppercase;
}

h3{
  font-size:2rem;
}

h5{
  font-family:"Raleway"
}


main{
  display:flex;
  min-height:100vh;
  flex-direction:column;
}