:root{
  --bleu:rgb(49,39,130);
  --gris:rgb(221,221,221);
  --transi:0.5s all ease;
  --radius:26px;
}

*, *:before, *:after {
  margin:0;
  padding:0;
  box-sizing:border-box;
  box-sizing: inherit;
}

body{
  font-family:serif;
  color:var(--bleu);
}

h1{
  text-align:center;

}

main{
  display:flex;
  min-height:100vh;
  flex-direction:column;
}