.container{
  align-self:center;
  display:flex;
  width:70%;
  align-items: center;
  justify-content: space-evenly;
  padding: 5vh;
  color:white;
  background-color:var(--bleu);
  border-radius:26px;
}

.container *{
  text-align:right;
}

.selfie{
  width:20%;
  border-radius:100%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5)
}

.about{
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  width:40%;
}

.about *{
  padding-bottom:1em;
}

@media screen and (max-width:960px) {
  .container{
    flex-direction: column;
    padding-bottom:10vh;
    height:auto;
  }
  .selfie{
    align-self:center;
    margin-bottom:5vh;
    max-width:80vw;
  }
  .about{
    width:90vw;
    padding:0;
  }
}