.container{
  align-self:center;
  display:flex;
  flex-direction:column;
  width:70%;
  align-items: center;
  padding: 2vh;
  margin: 5vh 0;
  color:white;
  background-color:var(--bleu);
  border-radius:26px;
}

.selfie{
  min-width:30%;
  border-radius:100%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5)
}

.texte{
  width:80%;
}

.texte *{
  text-align:left;
  padding-bottom: 1em;
}

.about{
  display:flex;
  width:100%;
  align-items: center;
  justify-content: space-between;
}

.about p{
  width:60%;
}

.about *{
  text-align:right;
  padding-bottom:1em;
}

@media screen and (max-width:960px) {
  .container{
    flex-direction: column;
    padding-bottom:10vh;
    height:auto;
  }
  .about{
    flex-direction:column;
  }
  .selfie{
    align-self:center;
    margin-bottom:5vh;
    max-width:80vw;
  }
  .about{
    width:90vw;
    padding:0;
  }
}