.container{
  align-self:center;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:80vw;
  margin:10vh 0;
}

.block{
  flex:2;
  align-self:center;
  text-align:center;
}

.block, h2 p{
  margin-bottom:10px;
}

.form{
  flex:2;
}

.formControl{
  text-align: start;
  margin:1rem 0;
  width:80%;
  border: 1px solid var(--gris);
  border-radius:0.25rem;
  padding: 1% 0 1% 1%;
}

label{
  display:block;
}

label, input{
  font-size:1.2rem;
}

textarea{

}

.submit{
  font-family:"Editor";
  width:50%;
  transition:var(--transi);
  background-color:var(--bleu);
  color:white;
  border-radius:var(--radius);
  border:0;
  padding:2%;
}

.submit:hover{
  transform: translateY(-5px);
}

@media screen and (max-width:480px){
  .container{
    flex-direction: column;
    align-self:center;
  }
  .formControl{
    width:80vw;
  }
}