.container{
  display:flex;
  justify-content: center;
  align-items: center;
  max-width:80vw;
  margin-bottom:10vh;
}

.block{
  flex:2;
  align-self:center;
  text-align:center;
}

.block, h2 p{
  margin-bottom:10px;
}

.form{
  flex:2;
}

.formControl{
  margin:1rem 0;
  width:100%;
  border: 1px solid var(--gris);
  border-radius:0.25rem;
}

label{
  display:block;
}

label, input{
  font-size:1.2rem;
}

textarea{

}

.submit{

  width:50%;
  cursor:pointer;
  transition:var(--transi);
  background-color:var(--bleu);
  color:white;

  border-radius:var(--radius);
}

.submit:hover{
  transform: translateY(-5px);
}

@media screen and (max-width:480px){
  .container{
    flex-direction: column;
    align-self:center;
  }
}