.container{
  align-self:center;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:70%;
  padding:2vh;
  border-radius:var(--radius);
  margin:10vh 0;
  background:var(--gris);
}

.block{
  align-self:center;
  text-align:center;
}

.form{
  width:100%;
}

.formControl{
  width:80%;
}

.block, h2 p{
  margin-bottom:10px;
}

.formControl{
  text-align: start;
  margin:1rem 0;
  border: 1px solid var(--gris);
  border-radius:0.25rem;
  padding: 1% 0 1% 1%;
}

label{
  display:block;
}

label, input{
  font-size:1.2rem;
}

@media screen and (max-width:960px){
  .container{
    flex-direction: column;
    align-self:center;
    height:auto;
  }
  .block{
    padding-bottom:5vh;
  }
}