.intro{
  flex:3;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  padding: 2rem 0;

  color:white;
  line-height:3rem;
  text-shadow: 1px 1px 2px var(--gris);
}


.Link{
  padding: 1rem 2rem;
  color:white;
  font-size:2rem;
  text-decoration:none;
  background-color:var(--bleu);
  border-radius:26px;
  transition:var(--transi)
}

.Link:hover{
  box-shadow:5px 5px 5px var(--gris);
  transform:translateY(-10px);
}

.container{
  flex:1;
  display:flex;
}

.size1{
  flex:2;
}